section.hero{
  background: green;
  height: 40rem;
  width: 100%;

  background-size: cover;
  background-position: center center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero h1{
  font-size: 5rem;
}