.menu {
  position: fixed;
  width: 6rem;
  height: 6rem;
  padding: 2rem;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu.open {
  width: 70%;
  height: 70%;
}

.menu .background {
  position: absolute;
  top: 0;
  top: -50vmax;s
  left: -50vmax;
  width: 200%;
  height: 200vmax;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu .nav-button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 3rem;
  height: 3rem;
}

.menu .ham {
  position: relative;
  width: 2.5rem;
  height: 0.25rem;
  background: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu .ham::before,
.menu .ham::after {
  position: absolute;
  left: 0;
  width: 2.5rem;
  height: 0.25rem;
  content: "";
  background: #ffffff;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu .ham::before {
  top: -1rem;
}

.menu .ham::after {
  top: 1rem;
}

.menu nav {
  display: none;
}

.open .ham {
  width: 0;
}

.open .ham::before {
  top: 0;
  -webkit-transform: rotate(45deg) translate(-1rem, 1rem);
          transform: rotate(45deg) translate(-1rem, 1rem);
}

.open .ham::after {
  top: 0;
  -webkit-transform: rotate(-45deg) translate(-1rem, -1rem);
          transform: rotate(-45deg) translate(-1rem, -1rem);
}