.menu {
  position: fixed;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}

.menu.open {
  width: 100%;
  height: 100%;
}

.menu .background {
  position: absolute;
  top: 0;
  top: -100vmax;
  left: -50vmax;
  z-index: 1000;
  width: 200%;
  height: 300vmax;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.open .ham {
  width: 0;
}

.open .ham::before {
  top: 0;
  -webkit-transform: rotate(45deg) translate(-1rem, 1rem);
          transform: rotate(45deg) translate(-1rem, 1rem);
}

.open .ham::after {
  top: 0;
  -webkit-transform: rotate(-45deg) translate(-1rem, -1rem);
          transform: rotate(-45deg) translate(-1rem, -1rem);
}

.open nav {
  left: 4rem;
}

.nav-button {
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1020;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 3rem;
  height: 3rem;
  background: transparent;
  cursor: pointer;
}

.nav-button:hover .ham {
  background: #0098cb;
}

.nav-button:hover .ham::before,
.nav-button:hover .ham::after {
  background: #0098cb;
}

.ham {
  position: relative;
  width: 2.5rem;
  height: 0.25rem;
  background: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.ham::before,
.ham::after {
  position: absolute;
  left: 0;
  width: 2.5rem;
  height: 0.25rem;
  content: "";
  background: #ffffff;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.ham::before {
  top: -1rem;
}

.ham::after {
  top: 1rem;
}

nav {
  position: absolute;
  z-index: 1020;
  top: 7rem;
  left: -100rem;
  color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-size: 2.375rem;
  line-height: 2.75rem;
  font-weight: 600;
  font-family: 'Staatliches';
  letter-spacing: -0.00625rem;
}

nav li {
  padding: 0.5rem;
}

nav a {
  color: #fff;
}