*{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-decoration: none;
	text-align: center;
}

/* ------------------------------- Show the video showing on the whole screen*/
#Video{
	background-position: fixed;
	left : 0;
	top: 0 ;
	min-height: 100%;
	width: 10%;
	z-index: 1;

}
/*---------------------------------------Show the Bouton on the video being shown.*/
.fstuff{
	position: absolute;
	background : rgba(0,0,0,0.9);
	color : rgb(41,64,255);
	width: 200px;
	top: 365%;
	left: 40%;
	text-align: center;
	z-index: 2;
	transition: ease-out 0.5s;
	border-radius: 10px;
}
/*---------------------------------------------- Animation on the button */
.fstuff:Hover{
	background : rgba(255,255,255,0.5);
	border-radius: 10px;
}

/*---------------------------------------------small button */
.readmore{
	text-align: center;
	font-size: 1.5vh;
}

/*---------------------------------------------Align the big letters with the small ones*/

.alignment{
	display: inline-block;
	text-align: center;
}

/*--------------------------------------------Change the colors of the paragraph name of the country */
#GerColor{
	display: inline-block;
	font-size: 3vh;
}
#FrColor{
	display: inline-flex;
	font-size: 3vh;
}