body {
  -webkit-text-size-adjust: 100%;

  color: #000000;
  font-family: 'Linotype-Univers', sans-serif;
  font-size: 16px;
  /* Activate antialising for better font rendering in webkit browsers */
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1;

  background-color: #ffffff;
}

* {
  box-sizing: border-box;
}

body, html {
  height: auto;
  min-height: 100%;
}

:root {
  font-size: 100%;
}
