*{
	margin: 0px;
	padding: 0px;
}

p
{
margin-top: 2%;
}

@media screen and (min-width: 580px) {
	section
	{
		justify-content: center;
		display: flex;
	}
}

#column1 {
float: left;
list-style-type: none;
margin-left: 5%;
margin-right: 5%;
padding: 10px;
}

#column2 {
float: left;
list-style-type: none;
margin-left: 5%;
margin-right: 5%;
padding: 10px;
}

div ul 
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content:space-between;
	display: inline-block;
	background-color:rgba(255, 255, 255, 0.4);
	color: black;
	list-style-type: none;
}

#title1 ,#title2
{
font-size: 40px;
list-style-type: none;

}

li
{
	border-bottom: solid black;

}



